.messageTool {
  bottom: 0;
  right: 75px;
  transition: bottom 0.3s ease-in-out; 
  position: fixed;
  width: 300px; 
  z-index: 10;
  background-color: white;
}
.messageRow{
  height: 70px;
}

.messageTool.open {
  bottom: 0; 
}

.dropdown-menu-custom {
  display: none;
}

.messageTool.open .dropdown-menu-custom {
  display: block;
}

.messageDropDown {
  width: 100%;
}

.messageData {
  height: auto;
  padding: 0.8rem 1.2rem 0.8rem 0.8rem;
  flex-grow: 1;
  vertical-align: top;
  overflow: hidden;
}

.msgTxt {
  font-size: 0.8rem;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-bar {
  background-color: white;
  width: 100%;
  position: relative;
}
